<div (click)="this.openMenu()" class="flex gap-3 cursor-pointer">
  <p>{{sortSelected.name}}</p>
  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect x="30" width="30" height="30" transform="rotate(90 30 0)" fill="url(#pattern0_139_55)"/>
    <defs>
      <pattern id="pattern0_139_55" patternContentUnits="objectBoundingBox" width="1" height="1">
        <use xlink:href="#image0_139_55" transform="scale(0.0111111)"/>
      </pattern>
      <image id="image0_139_55" width="90" height="90" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAACXBIWXMAAAsTAAALEwEAmpwYAAABYklEQVR4nO3cvUrEUBRF4YyFo+BzK9hYWE3lO1iIDzJVckAQBMFOz2HKLSnFn0KSG91ZH0w7XBabMAPhdh0AAAAAAAB+RXo8rYpdZmRVvFQNl1K/JefEqmJXFfr4Ge6IPSFJm8x4+xya2JOritevQxN7UpnD1fehiT0Zqd+Oz2RiNyDtjzPj9ufYcS89nLQ4jzURm9iWxLKJbUksm9iWxLKJbUksm9iWxLKJbUksm9iWxLKJbUksm9iWxLKJbUksm9iWxLLb4SWdvxf7ouWZVvwYGZ6XPuMqQmfG09JnXMmjI86XPue/Jt5YnR8/7xogMpE9iH+DRLYglkxkC2LJRLYglkxkC2LJRLYglkxkC2LJRLYglkxkC2LJRLYglkxkC2LJLSL3XMfWQmZcc+fdzCQdZQ7FLY5tQh+4KrOBquGG+0gbkPZnY+xx2eMVx+OlsNwdPWtwbeb8fgAAAAAA0K3VOwKtoprXpoSTAAAAAElFTkSuQmCC"/>
    </defs>
  </svg>
</div>

<div
  [@openClose]="isOpen ? 'open' : 'closed'"
  class="absolute mt-2 p-4 bg-gray-100 border border-gray-300 shadow-md text-black space-y-1"
>
    @for(option of sortOptions; track option){
      <p (click)="selectOne(option)"
        [ngClass]="option.select ?  ' text-xl':''"
        class="cursor-pointer"
      >{{option.name}}</p>
    }
</div>
