@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'playfair';
  src: url('/fonts/Playfair-Italic.ttf') format("truetype"),
}

:root{
  --sand: #F5F5DC;
}

@layer{

  body{
    @apply bg-sand;
  }

  i {
    @apply font-playfair
  }
}

