@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'playfair';
  src: url('/fonts/Playfair-Italic.ttf') format("truetype");
}

@font-face {
  font-family: Neue-Montreal;
  src:url('/fonts/NeueMontreal.otf') format("opentype");
}
:root{
  --sand: #F5F5DC;
}

@layer{

  body{
    @apply bg-sand font-neue scroll-smooth text-mediumBlack;
  }

  i {
    @apply font-playfair
  }

  .btn-primary{
    @apply  border-2 border-black font-playfair text-xl px-3 py-1 uppercase;
  }

}

