<app-header/>
<main>
  <section class="grid grid-cols-12 grid-rows-5 mx-9 h-screen">
    <p class="text-3xl col-start-1 col-end-3 row-start-3">Lorem <i>ipsum</i> odor amet, consectetuer <i>adipiscing</i>
      elit.</p>
    <img
      src="img/femme.png"
      alt="femme tenant une plante"
      class="col-start-9 col-span-5 row-start-1 row-end-6"
    />
  </section>
  <section class="bg-tenius h-screen rounded-3xl ">
    <div class="grid grid-cols-12 grid-rows-6 mx-9">
      <div class="col-start-10 col-span-3 row-start-1 row-end-2">
        <h2 class="text-right text-5xl font-playfair my-10">Lorem ipsum</h2>
        <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin magna nunc, posuere aliquet ultricies quis,
          euismod eu leo. Donec iaculis velit eu mauris eleifend, eget eleifend mi varius. Donec rutrum lorem non leo
          pretium, nec placerat sapien scelerisque. Nunc enim ligula, imperdiet convallis semper id, sagittis et magna.
          Donec ultrices nunc id facilisis vehicula. Nulla imperdiet aliquam elit, quis tristique diam facilisis et.
          Phasellus tortor lacus, commodo tempus purus ut, sollicitudin laoreet odio. Aliquam erat volutpat. Nullam sit
          amet finibus ipsum, in lobortis tortor. Aliquam quam velit, finibus eu eleifend quis, ornare sed mauris.
          Maecenas.</p>
      </div>
    </div>


  </section>
</main>

